.aura-items-list {
    height: 100vh;
    overflow-y: scroll;
    margin: 0px 0px 0px 0px;
    padding: 0px 8px 0px 8px;

    li {
        padding: 1em;
        margin-bottom: .125em;
        display: block;
        list-style: none;

        &:hover {
            color: black;
            background-color: white;
            border-radius: 8px;
        }

        &:hover .aura-items-list-title {
            color: black;
            background-color: white;
        }

        &:hover .aura-items-list-subtitle {
            color: black;
            background-color: white;
        }

        &.aura-items-list-active {
          color: black;
          background-color: white;
          border-radius: 8px;
        }

        &.aura-items-list-active .aura-items-list-title {
            color: black;
            background-color: white;
        }

        &.aura-items-list-active .aura-items-list-subtitle {
            color: black;
            background-color: white;
        }
    }
}

.aura-items-list-title {
    text-align:  start;
    font-size:  1.35em;
    color: white;
}

.aura-items-list-subtitle {
    text-align:  start;
    font-size:  1.15em;
    color: #696969;
    margin: 4px 0px 0px 0px;
    font-weight: bold;
}
