@import 'constants';
@import 'grid';

@import './components/list.scss';
@import './components/headers.scss';
@import './components/highlighter.scss';

body {
    background-color: $theme-background;
}

#app {
    height: 100vh;
    overflow-y: hidden;
}
